<div class="contact-container box" [aos]="{class: 'fade-in', winTrigger: 'bottom'}">
  <div class="left-side">
    <div class="text">
      <h2 class="headline">{{ "Contact" | translate }}</h2>
      <h5>{{ 'section.contact.text.question' | translate }}</h5>
      <p>{{ 'section.contact.text.answer' | translate }}</p><br>
      <p>{{ 'section.contact.text.call-to-action' | translate }}</p>
    </div>
    <div class="img-container">
      <img src="assets/img/profile/hero-profile-rg.png" alt="">
    </div>
  </div>
  
  <div class="form">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="input-container" (click)="setFocus('name')">
        <div class="border" [ngClass]="{ invalid: !name.valid && (name.touched || contactForm.submitted), valid: name.valid && name.touched }">
          <input
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            placeholder="{{ 'section.contact.name' | translate }}"
            required
            #name="ngModel"
          />
        </div>
        @if (!name.valid && (name.touched || contactForm.submitted)) {
        <div class="notification">{{ "section.contact.name-notification" | translate }}</div>
        }
      </div>

      <div class="input-container" (click)="setFocus('email')">
        <div class="border" [ngClass]="{ invalid: !email.valid && (email.touched || contactForm.submitted), valid: email.valid && email.touched}">
          <input
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            placeholder="{{ 'section.contact.email' | translate }}"
            required
            #email="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          />
        </div>
        @if (!email.valid && (email.touched || contactForm.submitted)) {
        <div class="notification">{{ "section.contact.email-notification" | translate }}</div>
        }
      </div>

      <div class="input-container" (click)="setFocus('message')">
        <div class="border" [ngClass]="{ invalid: !message.valid && (message.touched || contactForm.submitted), valid: message.valid && message.touched }">
          <textarea
            [(ngModel)]="contactData.message"
            id="message"
            name="message"
            placeholder="{{ 'section.contact.message' | translate }}"
            required
            #message="ngModel"
          ></textarea>
        </div>

        @if (!message.valid && (message.touched || contactForm.submitted)) {
        <div class="notification">{{ "section.contact.message-notification" | translate }}</div>
        }
      </div>

      <div class="privacy-policy-container">
        <div class="dflex">
          

          <div class="checkbox">
            <input [(ngModel)]="checked" class="checkbox" type="checkbox" id="checkbox" name="checkbox" #checkbox="ngModel" required>
            <img src="./../../assets/img/{{!checked ? 'unchecked' : 'checked'}}.svg" alt="checkbox">
          </div>
          

          <div class="pp-text">
            <span>{{ "section.contact.privacy-policy-terms.before" | translate }}</span>
            <a href="privacy-policy">{{ "section.contact.privacy-policy-terms.privacy-policy" | translate }}</a>
            <span> {{ "section.contact.privacy-policy-terms.after" | translate }}</span>
            @if (buttonDisabled && !checked) {
              <div class="notification">{{ "section.contact.privacy-policy-terms.notification" | translate }}</div>
              }
          </div>
          
        </div>
        
      </div>
      <div class="pp-btn-container">
        <button class="btn-filled" type="submit" #submitbutton [disabled]="!checked">{{ "section.contact.submit-button" | translate }}</button>
        <div class="disabled-btn-overlay" (click)="buttonDisabled = true" *ngIf="!checked"></div>
      </div>
        
      
    </form>
  </div>
</div>
