@import "../../../../styles/mixin.scss";

/* navbar */

.navbar {
  @include dflex($jc: space-between);
  padding: 16px 64px;
  background-color: var(--color-main);
  border-radius: 40px;

  position: relative;

  .social-links,
  .nav-links {
    @include dflex($g: 16px);
  }

  a {
    max-height: 30px;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 20px;
  }

  .logo {
    width: 30px;
    aspect-ratio: 1 / 1;
  }

}

/* gradient border effect */ 

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {--gradient-angle: 0deg;}
  100% {--gradient-angle: 360deg;}
}

.pinned {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    inset: -.5rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), rgb(73, 86, 186), rgb(73, 124, 186), rgb(73, 150, 186),  rgb(73, 124, 186), rgb(73, 86, 186));
    border-radius: inherit;
    animation: rotation 20s linear infinite;
  }

  &::before {
    filter: blur(3.5rem);
  }

}

/* burger menu */ 

.burger-menu {
  display: none;
  width: 18px;
  height: 18px;
  aspect-ratio: 1/1;
  position: relative;
  .bar {
    transition: 
      y 125ms ease-in 125ms,
      rotate 125ms ease-in,
      opacity 0ms 125ms;
    transform-origin: center;
  }

  &.open {
    .bar {
      transition: 
      y 125ms ease-in,
      rotate 125ms ease-in 125ms,
      opacity 0ms 125ms;

      &.top{
        y: 45;
        rotate: 45deg;
      }
      &.mid {
        y: 45;
        opacity: 0%;
      }
      &.bottom {
        y: 45;
        rotate: -45deg;
      }
    }
  }
}

/* mobile menu */

.overlay-bg {
  backdrop-filter: blur(8px);
  min-height: 100vh;
  height: 100%;
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
  z-index: -1;
  padding: 16px;
  touch-action: none;
}

.overlay-menu {
  z-index: 999;
  width: 100%;
  margin-top: 64px;
  box-shadow: 2px;

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}



// MEDIA QUERIES

@media (max-width: 768px) {
  .navbar {
    padding: 8px 32px;
    .nav-links,
    .social-links {
      display: none;
    }
    .burger-menu {
      display: block;
    }
  }
}
