<div class="box">
  <div class="text">
    <h2>Contact</h2>
    <h4>Got a problem to solve?</h4>
    <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
    <p>Need a Frontend developer? Contact me!</p>
  </div>
  <div class="form">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="input-container" (click)="setFocus('name')">
        <div class="border" [ngClass]="{ invalid: !name.valid && name.touched, valid: name.valid && name.touched }">
          <input
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            required
            #name="ngModel"
          />
        </div>
        @if (!name.valid && name.touched) {
        <div class="notification">Please enter your name</div>
        }
      </div>

      <div class="input-container" (click)="setFocus('email')">
        <div class="border" [ngClass]="{ invalid: !email.valid && email.touched, valid: email.valid && email.touched}">
          <input
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
            #email="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          />
        </div>
        @if (!email.valid && email.touched) {
        <div class="notification">Please enter your email</div>
        }
      </div>

      <div class="input-container" (click)="setFocus('message')">
        <div class="border" [ngClass]="{ invalid: !message.valid && message.touched, valid: message.valid && message.touched }">
          <textarea
            [(ngModel)]="contactData.message"
            id="message"
            name="message"
            placeholder="Your message"
            required
            #message="ngModel"
          ></textarea>
        </div>

        @if (!message.valid && message.touched) {
        <div class="notification">Please enter a message</div>
        }
      </div>

      <button class="btn-filled" type="submit">Let's work together.</button>
    </form>
  </div>
</div>
