// AOS

.bounce-in-left {
  animation: bounceInLeft 1s linear forwards;
  animation-play-state: paused;
  animation-delay: inherit;
}
@keyframes bounceInLeft {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.bounce-in-right {
  animation: bounceInRight 1s linear forwards;
  animation-play-state: paused;
  animation-delay: inherit;
}
@keyframes bounceInRight {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.popup {
  animation: popup 1s linear forwards;
  animation-play-state: paused;
  animation-delay: inherit;
  transform: scale(0%);
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s linear forwards;
  animation-play-state: paused;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.fade-in-down {
  animation: fadeInDown 2s linear forwards;
  animation-play-state: paused;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 2s linear forwards;
  animation-play-state: paused;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
