@mixin dflex($fd: row, $jc: center, $ai: center, $g: 8px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin font($ff: 'Montserat', $fs: 16px, $fw: 400, $lh: normal) {
  font-family: $ff, sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
