@import "../../../styles/mixin.scss";

.hero-content {
  @include dflex($fd: column, $g: 16px, $jc: flex-start, $ai: normal);
  position: relative;
  min-height: max(calc(100dvh - 16px), calc(100%));
}

.hero-headline {
  display: flex;
  justify-content: center;
  padding: 64px 0;
  background-color: var(--color-main);
  border-radius: 40px;

  .container {
    width: fit-content;
    @include dflex($fd: column, $ai: normal);
  }

  .subheader {
    @include font($ff: "Oswald", $fs: 24px, $fw: 300);
    @include dflex();
    .line {
      height: 2px;
      background-color: var(--color-text);
      width: 100%;
    }
    .text {
      white-space: nowrap;
    }
  }
  .header {
    @include font(
      $ff: "Anton",
      $fs: clamp(3rem, 16vw, 14.375rem),
      $fw: 300,
      $lh: 0.875
    );
    @include dflex($fd: column, $ai: flex-start);
    .gradient {
      background-image: var(--color-gradient);
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
}

.cta-container {
  @include dflex($jc: space-between);
  padding: 0px 32px 32px;
  position: relative;
  z-index: 2;

  .scroll-icon {
    @include font($ff: "Oswald", $fs: 20px, $fw: 300);
    @include dflex($g: 0);
    position: relative;
    margin-left: 32px;

    .scroll-icon-text {
      transform-origin: 50% 50%;
      transform: rotate(-90deg);
      position: absolute;
      left: -60px;
    }

    .scroll-icon-img {
      position: relative;
      width: 64px;
      height: 96px;
      border: 2px solid var(--color-text);
      border-radius: 40px;

      .scroll-icon-dot {
        width: 8px;
        height: 8px;
        background-color: var(--color-text);
        border-radius: 100%;
        position: absolute;
        left: 28px;
        top: 16px;
        animation: dot-movement 1500ms ease-in-out infinite;
      }

      .scroll-icon-arrow {
        position: absolute;
        bottom: -32px;
        left: 18px;
        opacity: 0%;
        animation: arrow-blink 1500ms linear infinite;
      }

      @keyframes dot-movement {
        0% {
          top: 16px;
        }
        60% {
          top: 32px;
        }
        100% {
          top: 32px;
        }
      }
      @keyframes arrow-blink {
        0% {
          opacity: 0%;
        }
        50% {
          opacity: 100%;
        }
        100% {
          opacity: 100%;
        }
      }
    }
  }
}

.hero-profile {
  @include dflex($fd: column, $g: 0);
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  pointer-events: none;
  .hero-img {
    width: 100%;
    max-width:  900px;
    padding: 0 80px;
  }
}

// MEDIA QUERIES

@media (max-width: 768px) {
  .hero-headline {
    padding: 32px;
  }
}

@media (max-width: 480px) {
  .hero-headline {
    padding: 32px;
    .subheader {
      font-size: 16px;
    }
  }
  .cta-container {
    justify-content: center;
    padding: 0;
    .scroll-icon {
      display: none;
    }
  }
  .hero-profile {
    position: relative;
    .hero-img {
      padding: 0;
    }
  }
}