@import "../../styles/mixin.scss";

.content {
    @include dflex($fd: column, $g: 16px, $ai : space-between);
    .box {
        background-color: var(--color-main);
        border-radius: 40px;
        padding: 64px;
        font-size: 24px;
        h2 {
            margin-bottom: 8px;
        }
    }
    .skills {
        @include dflex($jc: space-between);
        flex-wrap: wrap;
    }
    .skill {
        @include dflex($fd: column);
        font-size: 16px;
        width: 80px;
        text-align: center;
        &:hover {
            font-weight: bold;
            gap: 16px;
        }
    }
}