@import "../styles/mixin.scss";

router-outlet {
  display: none;
}

.wrapper {
  width: 100vw;
  max-width: 100vw;
  overflow: clip;
}

.content {
  padding: 0 16px 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

@media (max-width: 480px) {
  .content {
    gap: 24px;
  }
}
