<div class="skills-content">
    <!-- section description -->
    <div class="box" [aos]="{class: 'fade-in-up', winTrigger: 'bottom'}">
        <h2 class="headline">{{ "Skills" | translate }}</h2>
        <p>{{ "section.skills.description" | translate }}</p>
    </div>
    <!-- skills -->
    <!-- frontend -->
    <div class="box" [aos]="{class: 'popup', winTrigger: 'bottom'}">
        <h4>Frontend</h4>
        <div class="skills">
            @for(skill of skills.frontend;track skill) {
                <div class="skill">
                    <img src="./../../assets/img/skill-icons/frontend/{{ skill.toLowerCase() }}.svg" alt="{{ skill }}-icon">
                    <div class="skill-name">{{ skill }}</div>
                </div>
            }
        </div>
    </div>
    <!-- backend -->
    <div class="box" [aos]="{class: 'popup', winTrigger: 'bottom'}">
        <h4>Backend</h4>
        <div class="skills">
            @for(skill of skills.backend;track skill) {
                <div class="skill">
                    <img src="./../../assets/img/skill-icons/backend/{{ skill.toLowerCase() }}.svg" alt="{{ skill }}-icon">
                    <div class="skill-name">{{ skill }}</div>
                </div>
            }
        </div>
    </div>
    
</div>
