@import "../../../styles/mixin.scss";

.skills-content {
  @include dflex($fd: column, $g: 16px, $ai: space-between);

  .skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-gap: 8px;
    justify-content: space-between;
  }
  .skill {
    @include dflex($fd: column);
    width: 80px;
    text-align: center;
    &:hover {
      font-weight: bold;
      img {
        transform: scale(1.1);
      }
    }
  }
}

// MEDIA QUERIES

@media (max-width: 480px) {
    .skills-content {
        .skills {
          grid-template-columns: repeat(auto-fit, 48px);
        }
        .skill {
          width: 48px;
            img {
                width: 48px;
            }

            font-size: 12px;
        }
    }
}
