<div class="privacy-policy-content">
  <app-header></app-header>
  <div class="privacy-policy box">
    <h1>{{ "privacy-policy.privacy-policy" | translate }}</h1>
    <p>{{ "privacy-policy.responsible-for" | translate }}</p><br>
    <p>Ricardo Geada</p>
    
    <!-- data-subject-rights -->
    <h2>{{ "privacy-policy.data-subject-rights.h" | translate }}</h2>
    <p>{{ "privacy-policy.data-subject-rights.p_0" | translate }}</p>
    <ul>
    <li>{{ "privacy-policy.data-subject-rights.li_0" | translate }}</li>
    <li>{{ "privacy-policy.data-subject-rights.li_1" | translate }}</li>
    <li>{{ "privacy-policy.data-subject-rights.li_2" | translate }}</li>
    <li>{{ "privacy-policy.data-subject-rights.li_3" | translate }}</li>
    <li>{{ "privacy-policy.data-subject-rights.li_4" | translate }}</li>
    <li>{{ "privacy-policy.data-subject-rights.li_5" | translate }}</li>
    </ul>
    <p>{{ "privacy-policy.data-subject-rights.p_1" | translate }}</p>
    <p>{{ "privacy-policy.data-subject-rights.p_2" | translate }}</p>
    <p>{{ "privacy-policy.data-subject-rights.p_3" | translate }}<a class="text-link" href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank" rel="noopener nofollow">{{ "privacy-policy.data-subject-rights.a" | translate }}</a>.</p>

    <!-- collecting-data -->
    <h2>{{ "privacy-policy.collecting-data.h" | translate }}</h2>
    <!-- section_0 -->
    <h3>{{ "privacy-policy.collecting-data.section_0.h3" | translate }}</h3>
    <p>{{ "privacy-policy.collecting-data.section_0.p_0" | translate }}</p>
    <p>{{ "privacy-policy.collecting-data.section_0.p_1" | translate }}</p>
    <ul>
    <li>{{ "privacy-policy.collecting-data.section_0.li_0" | translate }}</li>
    <li>{{ "privacy-policy.collecting-data.section_0.li_1" | translate }}</li>
    <li>{{ "privacy-policy.collecting-data.section_0.li_2" | translate }}</li>
    <li>{{ "privacy-policy.collecting-data.section_0.li_3" | translate }}</li>
    </ul>
    <p>{{ "privacy-policy.collecting-data.section_0.p_2" | translate }}</p>
    <!-- section_1 -->
    <h3>{{ "privacy-policy.collecting-data.section_1.h3" | translate }}</h3>
    <p>{{ "privacy-policy.collecting-data.section_1.p" | translate }}</p>
    <!-- section_2 -->
    <h3>{{ "privacy-policy.collecting-data.section_2.h3" | translate }}</h3>
    <p>{{ "privacy-policy.collecting-data.section_2.p" | translate }}</p>
    <!-- section_3 -->
    <h3>{{ "privacy-policy.collecting-data.section_3.h3" | translate }}</h3>
    <p>{{ "privacy-policy.collecting-data.section_3.p_0" | translate }}</p>
    <p>{{ "privacy-policy.collecting-data.section_3.p_1" | translate }}</p>
    <!-- section_4 -->
    <h3>{{ "privacy-policy.collecting-data.section_4.h3" | translate }}</h3>
    <p>{{ "privacy-policy.collecting-data.section_4.p" | translate }}</p>

    <!-- contact-form -->
    <h2>{{ "privacy-policy.contact-form.h2" | translate }}</h2>
    <!-- section_0 -->
    <h3>{{ "privacy-policy.contact-form.section_0.h3" | translate }}</h3>
    <p>{{ "privacy-policy.contact-form.section_0.p" | translate }}</p>
    <!-- section_1 -->
    <h3>{{ "privacy-policy.contact-form.section_1.h3" | translate }}</h3>
    <p>{{ "privacy-policy.contact-form.section_1.p_0" | translate }}</p>
    <p>{{ "privacy-policy.contact-form.section_1.p_1" | translate }}</p>
    <p>{{ "privacy-policy.contact-form.section_1.p_2" | translate }}</p>
    <!-- section_2 -->
    <h3>{{ "privacy-policy.contact-form.section_2.h3" | translate }}</h3>
    <p>{{ "privacy-policy.contact-form.section_2.p" | translate }}</p>
    <!-- section_3 -->
    <h3>{{ "privacy-policy.contact-form.section_3.h3" | translate }}</h3>
    <p>{{ "privacy-policy.contact-form.section_3.p_0" | translate }}</p>
    <p>{{ "privacy-policy.contact-form.section_3.p_1" | translate }}</p>
    <!-- section_4 -->
    <h3>{{ "privacy-policy.contact-form.section_4.h3" | translate }}</h3>
    <p>{{ "privacy-policy.contact-form.section_4.p" | translate }}</p>
    

    <h2>{{ "privacy-policy.ssl.h2" | translate }}</h2>
    <p>{{ "privacy-policy.ssl.p" | translate }}</p>
    <hr>


    <h2>{{ "privacy-policy.right-of-objection.h2" | translate }}</h2>
    
    <h3>{{ "privacy-policy.right-of-objection.section_0.h3" | translate }}</h3>
    <p>{{ "privacy-policy.right-of-objection.section_0.p_0" | translate }}</p>
    <p>{{ "privacy-policy.right-of-objection.section_0.p_1" | translate }}</p>
    
    <h3>{{ "privacy-policy.right-of-objection.section_1.h3" | translate }}</h3>
    <p>Ricardo Geada</p>
    <hr>
    
    <h2>{{ "privacy-policy.pp-change.h2" | translate }}</h2>
    <p>{{ "privacy-policy.pp-change.p" | translate }}</p>
    
    <h2>{{ "privacy-policy.pp-questions.h2" | translate }}</h2>
    <p>{{ "privacy-policy.pp-questions.p_0" | translate }}</p>
    <p>Ricardo Geada</p>
    <p><em>{{ "privacy-policy.pp-questions.p_1" | translate }}<a class="text-link" href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">{{ "privacy-policy.pp-questions.a" | translate }}</a>{{ "privacy-policy.pp-questions.p_2" | translate }}</em></p>
  </div>
  <app-footer></app-footer>
</div>
