@import "../../styles/mixin.scss";

.main-content {
    @include dflex($fd: column, $g: 64px, $ai: normal, $jc:flex-start);
}

app-hero {
    height: min(100%, 100dvh);
    min-height: max-content;
    flex-shrink: 0;
}

app-header {
    position: sticky;
    top: -1px;
    z-index: 999;
    padding-top: 17px;
}


@media (max-width: 480px) {
    .main-content {
        gap: 24px;
    }
}