@import '../../../../styles/mixin.scss';

.footer-content {
    @include dflex($jc: space-between);
    padding: 16px 64px;

    .social-links {
        @include dflex($g: 16px);
    }
    
    a,
    .copyright {
        max-height: 30px;
        font-family: "Oswald";
        font-weight: 300;
        font-size: 20px;
    }
}

// MEDIA QUERIES

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        padding: 16px 32px;

        a,
        .copyright {
            font-size: 16px;
        }
    }
    
  }