<div class="imprint-content">
  <app-header></app-header>
  <div class="imprint box">
    <h2>{{ "imprint.imprint" | translate }}</h2>
    <h4>{{ "imprint.§5TMG" | translate }}</h4>
    <p>
      <br/>{{ "imprint.profession" | translate }}
      <br/>Ricardo Geada
    </p>
    <h6>{{ "imprint.address" | translate }}:</h6>
    <p>
      Stettinerstraße 20<br/>
      55566 Bad Sobernheim<br/>
    </p>
    <h6>{{ "imprint.contact" | translate }}:</h6>
    <p>
      {{ "imprint.phone" | translate }}: <br/>
      E-Mail: ricardogeada.dev&commat;gmail.com
    </p>
    <p></p>
    <p><br /></p>
    <p></p>
    <h4>{{ "imprint.notes-website" | translate }}</h4>
    <p></p>
    <p>
      <em>
        {{ "imprint.activeMind.before" | translate }}
        <a href="https://www.activemind.de/datenschutz/generatoren/impressum/" target="_blank">
          {{ "imprint.activeMind.link" | translate }}</a>{{ "imprint.activeMind.after" | translate }}
      </em>
    </p>
  </div>
  <app-footer></app-footer>
</div>
