<div class="imprint box">
  <h2>Impressum</h2>
  <h4>Angaben gemäß § 5 TMG:</h4>
  <p><br />Frontend Entwickler<br />Ricardo Geada</p>
  <h6>Postanschrift:</h6>
  <p>Stettinerstraße 20<br />55566 Bad Sobernheim<br /></p>
  <h6>Kontakt:</h6>
  <p>
    Telefon: <br/>
    E-Mail: ricardogeada.dev&commat;gmail.com
  </p>
  <p></p>
  <p><br /></p>
  <p></p>
  <h4>Hinweise zur Website</h4>
  <p></p>
  <p>
    <em
      >Das Impressum wurde mit dem
      <a href="https://www.activemind.de/datenschutz/generatoren/impressum/"
        >Impressums-Generator der activeMind AG</a
      >
      erstellt.</em
    >
  </p>
</div>
