<div class="imprint-content">
  <app-header></app-header>
  <div class="imprint box">
    <h2>{{ "imprint.imprint" | translate }}</h2>
    <h4>{{ "imprint.§5TMG" | translate }}</h4>
    <p>
      {{ "imprint.profession" | translate }}<br/>
      Ricardo Geada
    </p>
    <h6>{{ "imprint.address" | translate }}:</h6>
    <p>
      Stettiner Straße 20<br/>
      55566 Bad Sobernheim
    </p>
    <h6>{{ "imprint.contact" | translate }}:</h6>
    <p>
      {{ "imprint.phone" | translate }}: +49 1731893725<br/>
      E-Mail: mail&commat;ricardogeada.com
    </p>
    <h4>{{ "imprint.notes-website" | translate }}</h4>
    <p>
      <em>
        {{ "imprint.activeMind.before" | translate }}
        <a class="text-link" href="https://www.activemind.de/datenschutz/generatoren/impressum/" target="_blank">
          {{ "imprint.activeMind.link" | translate }}</a>{{ "imprint.activeMind.after" | translate }}
      </em>
    </p>
  </div>
  <app-footer></app-footer>
</div>
