/* You can add global styles to this file, and also import other style files */

// FONTS
/* anton-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/anton-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/oswald-v53-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/oswald-v53-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-main: var(--color-dm-main);
  --color-text: var(--color-dm-text);
  --color-primary-default: var(--color-dm-primary-default);
  --color-primary-hover: var(--color-dm-primary-hover);
  --color-gradient: var(--color-dm-gradient);
  --color-btn-outlined-default-fill: var(--color-dm-btn-outlined-default-fill);
  --color-btn-outlined-hover-fill: var(--color-dm-btn-outlined-hover-fill);
  --color-error:  #e03f3fFF;

  // Dark Mode
  --color-dm-main: black;
  --color-dm-text: white;
  --color-dm-primary-default: #21d4fd;
  --color-dm-primary-hover: #86cddc;
  --color-dm-gradient: linear-gradient(#21d4fd, #0adde8);
  --color-dm-btn-outlined-default-fill: #ffffff10;
  --color-dm-btn-outlined-hover-fill: #86cddc10;

  // Light Mode
  --color-lm-main: white;
}

* {
  // General Styling
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

body {
  background-color: rgb(25, 29, 31);
  font-family: "Montserat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton";
  font-weight: 400;
  line-height: 1.15;
  // letter-spacing: -0.022em;
}

h1 {
  font-size: 2.986rem; // 48px
}

h2 {
  font-size: 2.488rem; // 40px
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}



a {
  text-decoration: none;
  &:hover {
    color: var(--color-primary-hover);
    path {
      fill: var(--color-primary-hover);
    }
  }
}

.btn {
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 16px 40px;
  border-radius: 40px;
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 300;
  &-filled {
    @extend .btn;
    color: var(--color-text);
    background-color: var(--color-primary-default);
    &:hover {
      color: var(--color-text);
      background-color: var(--color-primary-hover);
    }
  }
  &-outlined {
    @extend .btn;
    border-color: var(--color-text);
    background-color: var(--color-btn-outlined-default-fill);
    &:hover {
      color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
      background-color: var(--color-btn-outlined-hover-fill);
    }
  }
}


