/* You can add global styles to this file, and also import other style files */

// FONTS
/* anton-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/anton-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/oswald-v53-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/oswald-v53-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
  --color-main: var(--color-dm-main);
  --color-text: var(--color-dm-text);
  --color-primary-default: var(--color-dm-primary-default);
  --color-primary-hover: var(--color-dm-primary-hover);
  --color-gradient: var(--color-dm-gradient);

  // Dark Mode
  --color-dm-main: black;
  --color-dm-text: white;
  --color-dm-primary-default: #21D4FD;
  --color-dm-primary-hover: #86CDDC;
  --color-dm-gradient: linear-gradient(#21D4FD,#0ADDE8);

  // Light Mode
  --color-lm-main: white;
}

* {
  // General Styling
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}
