@import "../../../styles/mixin.scss";

nav {
  @include dflex($jc: space-between);
  padding: 16px 64px;
  background-color: var(--color-main);
  border-radius: 40px;
  .social-links,
  .nav-links {
    @include dflex($g: 16px);
  }
  a {
    max-height: 30px;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 20px;
  }
  .logo {
    width: 30px;
  }
}

/* burger menu */ 

.burger-menu {
  display: none;
  width: 18px;
  height: 18px;
  aspect-ratio: 1/1;
  position: relative;
  .bar {
    transition: 
      y 300ms ease-in 300ms,
      rotate 300ms ease-in,
      opacity 0ms 300ms;
    transform-origin: center;
  }

  &.active {
    .bar {
      transition: 
      y 300ms ease-in,
      rotate 300ms ease-in 300ms,
      opacity 0ms 300ms;

      &.top {
        y: 45;
        rotate: 45deg;
      }
      &.mid {
        y: 45;
        opacity: 0%;
      }
      &.bottom {
        y: 45;
        rotate: -45deg;
      }
    }
  }
}

// MEDIA QUERIES

@media (max-width: 768px) {
  nav {
    padding: 8px 32px;
    .nav-links,
    .social-links {
      display: none;
    }
    .burger-menu {
      display: block;
    }
  }
}
