@import "./../../../styles/mixin.scss";

.project {
  background-color: var(--color-main);
  border-radius: 40px;
  padding: 64px;

  overflow: hidden;
  width: fit-content;
  position: relative;
  @include dflex($jc: flex-start);

  .project-image {
    position: relative;
    width: 400px;
    &.visible {
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%,50%);
      transition: all 125ms linear;
    }
    &.invisible {
      visibility: hidden;
    }
    img {
      width: 100%;
      position: relative;
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    // grid-template-columns: 0fr;
    transition: grid-template-rows 0.5s ease-out; 
                // grid-template-columns 0.5s ease-out;
  }

  .project-text {
    display: none;
    visibility: hidden;
    overflow: hidden;

    .project-name {
      font-family: "Anton";
      font-size: var(--font-size-h2);
      line-height: 40px;
    }
    .project-languages {
      font-family: "Oswald";
      font-size: var(--font-size-h5);
      line-height: 24px;
    }
    .project-links {
      display: flex;
      gap: 8px;
    }
  }

  &.active {
    animation: box-scale 500ms ease-out forwards; 
    padding: 64px;

    .project-image {
      &.visible {
        animation: image-slide 500ms ease-in-out 500ms forwards;
      }
      &.invisible {
        width: 60%;
      }
    }
    .wrapper {
      width: 40%;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;

      .project-text {
        @include dflex($fd: column, $ai: flex-start, $g: 16px);
        animation: visibility 250ms 1000ms ease-in-out forwards;
      }
    }

    @keyframes box-scale {
      0% {
        width: 50%;
      }
      100% {
        width: 100%;
      }
    }

    @keyframes visibility {
      0% {
        visibility: hidden;
        opacity: 0%;
      }
      50% {
        visibility: visible;
        opacity: 0%;
      }
      100% {
        visibility: visible;
        opacity: 100%;
      }
    }

    @keyframes image-slide {
      0% {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%,50%);
      }
      100% {
        transform: translate(0%,0);
        bottom: 0px;
        left: 64px;
        width: calc((100% - 128px - 8px) * 0.6);
      }
    }
  }
}

// MEDIA QUERIES

@media (max-width: 856px) {
  .project {
    flex-direction: column-reverse;
    &.active {
      .project-image {
        &.visible {
          width: calc((100% - 128px) * 1);
        }
        &.invisible {
          width: 100%;
        }
      }
      .wrapper {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .project {
    padding: 32px;
    .project-image {
      width: 100%;
      &.visible {
        width: calc((100% - 64px) * 1);
        bottom: 32px;
      }
    }
    &.active {
      padding: 32px;
      .project-image {
        &.visible {
          width: calc((100% - 64px) * 1);
          left: 32px;
        }
        &.invisible {
          width: 100%;
        }
      }
      .project-text {
        width: 100%;
      }
    }
  }
}
