<div class="portfolio-content">
    <!-- section description -->
    <div class="box" [aos]="{class: 'fade-in-up', winTrigger: 'bottom'}">
        <h2 class="headline">{{ "Portfolio" | translate }}</h2>
        <p>{{ "section.portfolio.description" | translate }}</p>
    </div>
    <!-- projects -->
    <app-project *ngFor="let project of projectsdata.projects, let even = even" [project]="project" [aos]="even ? {class: 'bounce-in-left' , winTrigger: 'bottom'} : {class: 'bounce-in-right' , winTrigger: 'bottom'} "></app-project>
</div>
