@import "./../../../../styles/mixin.scss";


.project {

  width: 100%;
  max-width: fit-content;
  cursor: pointer;
  @include dflex($jc: flex-start);


  .project-image {
    position: relative;
    width: 400px;
    
    &.visible {
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%,50%);
    }

    &.invisible {
      visibility: hidden;
      aspect-ratio: 1.6;
    }

    img {
      width: 100%;
      position: relative;
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out; 
  }

  .project-text {
    display: none;
    visibility: hidden;
    overflow: hidden;

    .project-name {
      font-family: "Anton";
      margin-block-start: 0;
    }
    .project-languages {
      font-family: "Oswald";
      margin-block-start: 0;
    }
    .project-links {
      margin-block-start: 16px;
      display: flex;
      gap: 8px;
    }
  }

  &.active {
    animation: box-scale 500ms ease-out forwards; 

    .project-image {
      &.visible {
        animation: image-slide 500ms ease-in-out 0ms forwards;
      }
      &.invisible {
        width: 60%;
      }
    }

    .wrapper {
      width: 40%;
      grid-template-rows: 1fr;
    }

    .project-text {
      display: block;
      animation: visibility 250ms 500ms ease-in-out forwards;
    }

    // KEYFRAMES
    @keyframes box-scale {
      0% {
        width: 50%;
        min-width: 0%;
      }
      100% {
        width: 100%;
        min-width: 100%;
      }
    }

    @keyframes visibility {
      0% {
        visibility: hidden;
        opacity: 0%;
      }
      50% {
        visibility: visible;
        opacity: 0%;
      }
      100% {
        visibility: visible;
        opacity: 100%;
      }
    }

    @keyframes image-slide {
      0% {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%,50%);
      }
      100% {
        transform: translate(0%,0);
        bottom: 0px;
        left: 64px;
        width: calc((100% - 128px - 8px) * 0.6);
      }
    }
  }
}

// MEDIA QUERIES

@media (max-width: 876px) {
  .project {

    flex-direction: column-reverse;
    gap: 24px;

    .project-image {
      &.visible {
        width: calc(100% - 2 * var(--padding-box));
      }
    }

    &.active {
      animation: box-scale-mobile 250ms ease-out forwards; 
      .project-image {
        &.visible {
          // width: calc((100% - 2 * var(--padding-box)));
          max-width: 400px;
          animation: image-slide-mobile 500ms ease-out 0ms forwards;
        }
        &.invisible {
          width: 100%;
        }
      }

      .wrapper {
        width: 100%;
      }

      // KEYFRAMES
      @keyframes box-scale-mobile {
        0% {
          width: 100%;
          max-width: 400px;
        }
        100% {
          width: 100%;
          max-width: 100%;
        }
      }

      @keyframes image-slide-mobile {
        0% {
          left: 50%;
          bottom: 50%;
          transform: translate(-50%,50%);
          max-width: 400px;
        }
        50% {
          left: 50%;
          bottom: var(--padding-box);
          transform: translate(-50%,0);
          width: calc(100% - 2 * var(--padding-box));
          max-width: 100%;
        }
        100% {
          transform: translate(0,0);
          bottom: var(--padding-box);
          left: var(--padding-box);
          width: calc((100% - 2 * var(--padding-box)));
          max-width: 100%;
        }
      }
      
    }
  }
}

