<div class="project box-hover" [ngClass]="{'active' : active}" (click)="active = !active">
    <!-- project image  -->
    <div class="project-image visible">
        <img src="./../../../assets/img/projects/{{ project.image }}" alt="project-{{ project.name }}">
    </div>
    <!-- invisible image to keep the box size -->
    <div class="project-image invisible">
    </div>

    <!-- project text -->
    <div class="wrapper">
        <div class="project-text">
            <h2 class="project-name">{{ project.name | translate }}</h2>
            <h5 class="project-languages">{{ project.languages | translate }}</h5>
            <div class="project-description"><p>{{ project.description | translate}}</p></div>
            <div class="project-links">
                <a href="{{project.link}}" target="_blank" class="btn-filled" (click)="$event.stopPropagation()">Live Test</a>
                <a href="{{project.github}}" target="_blank" class="btn-outlined" (click)="$event.stopPropagation()">Github</a>
            </div>
        </div>
    </div>
    
</div>
